{% load static %}
<!DOCTYPE> 
<html>
    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <script>
            $(document).ready(function() {
                $('#id_due_date').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true
                });
            });
        </script>
    

    </head>

    <body>

    {% include 'profile/base.html' %}
    
    <br>

    <div class="container bg-white shadow-md p-5 form-layout"> 

        <h3>Delete a Task</h3>

        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            <p> Are you sure you want to delete task??</p>

            <a href="{% url 'view-tasks' %}"> Go back</a>
            

            <br> <br>

            
            <input type="submit" value="delete-task"/>
    </form>
        
    </div>

    <br>
    

</html>
