{% load static %}
<!DOCTYPE> 
<html lang="en" xml:lang="en">
    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        

    </head>



    {% include 'profile/base.html' %}

    <br>

        <h3 class="text-center">View Tasks</h3>

        <hr>

        <br> <br>

        {% for tsk in task %}

            <div class="container bg-white shadow-md p-5 form-layout " style="margin-top: 20px;">


                <h3>{{ tsk.title }}</h3>

                <br>

                {{ tsk.content }}

                <br> <br>

                {{ tsk.due_date }}

                <br><br>

                <a class="btn btn-primary navbar-btn" type="button" href="{% url 'update-task' tsk.id %}">Update task</a>

                <br> <br>

                
                <a class="btn btn-outline-primary navbar-btn" type="button" href="{% url 'delete-task' tsk.id %}">Delete task</a>

                <br> <br>

            </div>

        {% endfor %}

        <br><br>
       

    </div>


</html>
